{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
    <h1>
        About
    </h1>
  <div>
      This application uses the technologies 
      <ul>
          <li> Google Knowlege Graphs</li>
          <li> flask </li>
          <li> twitter bootstrap </li>
          <li> html/css/javascript </li>
          <li> sql </li>
      </ul>
      <div> 
          Draws information from 
           <ul>
          <li> chessgames.com</li>
          <li> wtharvey.com</li>
           </ul>
      </div>
      <p>
        This web application provides information about 3 chess players.  It uses 
        google knowlege graphs to pull a bibliography and image for the 
        player.  In addition it provides games and exercises from the players. 
        The infomation for the games and exercises are drawn from the cited sources 
        but the code to render it is 100% original 
      </p>
  </div>
    {% with messages = get_flashed_messages() %}
         {% if messages %}     
            <script>
            var messages = {{ messages | safe }};
            for (var i=0; i<messages.length; i++) {
            alert(messages[i]);
            }
            </script>
         {% endif %}
    {% endwith %}
{% endblock %}
