{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block navbar scoped%}
     
{% endblock %}

{% block content %}
    <h1>Register for Chess Trainer</h1>
     <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ render_field(form.Username) }}
        <br />
        <br />
         {{ render_field(form.Passcode) }}
        <br />
        <br />
        {{form.submit()}}
    </form>
    
    <form action="/login" method="post" >
         {{ form.hidden_tag() }}
        <input type="submit" name="go to login page" value="go to login page" />
    </form>
    {% with messages = get_flashed_messages() %}
         {% if messages %}     
            <script>
            var messages = {{ messages | safe }};
            for (var i=0; i<messages.length; i++) {
            alert(messages[i]);
            }
            </script>
         {% endif %}
    {% endwith %}
{% endblock %}
